{% extends 'base.html' %}
{% block title %}ユーザー情報{% endblock %}
{% block content %}
<div>
    <div>
        <div>
            <div>
                <div><h3>ユーザー情報</h3></div>
                <div>
                    <div>E-mail：{{user.email}}</div>
                    <div>名前：{{user.username}}</div>
                    <a href="{% url 'top' %}">トップへ戻る</a>
                    <a href="{% url 'profiel-change' %}">ユーザ名変更</a>
                </div>
                <a href="{% url 'account_change_password' %}">パスワード変更</a>
                <div>
                    {% if user.vip_member %}
                    <a href="{% url 'credit-update' %}">クレジット変更</a>
                    <a href="{% url 'subscription-cancel' %}">有料会員解除</a>
                    {% else %}
                    <a href="{% url 'credit-register' %}">有料会員になる</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}