{% extends "base.html" %}
{% load static %}
{% block title %}{{ restaurant.restaurant_name }}{% endblock %}
{% block content %}
<h1>"{{ restaurant.restaurant_name }}"</h1>
<a href="{% url 'profile' %}">プロフィール画面</a>
<a href="{% url 'account_logout' %}">ログアウト</a>
<a href="{% url 'top' %}">トップへ戻る</a>

<div>{% if restaurant.img %}<img src="{{ restaurant.img.url }}" style="width:200px; height:auto;">{% else %}<img src="{% static 'image/noImage.png' %}" style="width:200px height:200px;">{% endif %}</div>
<div>
    <div>名前：{{ restaurant.restaurant_name }}</div>
    <div>カテゴリ:{{ restaurant.category }} </div>
    <div>予算:{{ restaurant.budget }} </div>
    <div>定休日：{{ restaurant.get_closed_days }}</div>
    <div>営業時間：{{ restaurant.get_businesshour }}</div>
    <div>電話番号：{{ restaurant.tel }}</div>
    <div>郵便番号：{{ restaurant.postal_number }}</div>
    <div>住所：{{ restaurant.address }}</div>
</div>
<div>店舗説明</div>
<div>{{ restaurant.information }}</div>
<div>お気に入り（有料会員のみ）</div>
<form method="post" action="{% url 'toggle-favorite' restaurant.id %}">
    {% csrf_token %}
    {% if user.vip_member %}
        {% if favorite %}
            <button type="submit" name="button">お気に入り解除</button>
        {% else %}
            <button type="submit" name="button">お気に入り追加</button>
        {% endif %}
    {% else %}
        <button type="submit" name="button">お気に入りは有料会員へ</button>
    {% endif %}
</form>
<div>レビュー投稿（有料会員のみ）</div>
{% if user.vip_member %}
    {% if review %}
        <div>{{ user.username }}のレビュー</div>
        <div>{{ review.review }}</div>
        <a href="{% url 'review-update' review.pk %}">{{ restaurant.restaurant_name }}のレビューを編集する</a>
        <a href="{% url 'review-delete' restaurant.id %}">{{ restaurant.restaurant_name }}のレビューを削除する</a>
    {% else %}
        <a href="{% url 'review-create' restaurant.id %}">{{ restaurant.restaurant_name }}をレビューしませんか？</a>
    {% endif %}
{% else %}
    <a href="{% url 'credit-register' %}">レビュー機能は有料会員へ</a>  
{% endif %}
</form>

{% endblock %}