{% extends "base.html" %}
{% load static %}
{% block title %}店舗一覧{% endblock %}
{% block content %}
<h1>名古屋の店舗一覧</h1>
<a href="{% url 'account_login' %}">ログインする</a>
<table border="1">
    <thead>
        <tr>
            <th>カテゴリ</th>
            <th>店舗名</th>            
            <th>店舗画像</th>
            <th>詳細URL</th>
        </tr>
    </thead>
    {% for restaurant in object_list %}
    <tr>
        <td>{{ restaurant.category }} </td>
        <td><a href="{% url 'restaurant_detail' restaurant.id %}">{{ restaurant.restaurant_name }}</a></td>
        <td>{% if restaurant.img %}<img src="{{ restaurant.img.url }}" style="width:10px height:10px;">{% else %}<img src="{% static 'image/noImage.png' %}" style="width:10px height:10px;">{% endif %}</td>
        
    </tr>
    {% endfor %}
</table>

{# ページの表示 #}
{{ page_obj.number }} / {{ page_obj.paginator.num_pages }} ページ<br>

{# 前へ #}
{% if page_obj.has_previous %}
<a href="?page=1">&laquo; 先頭</a>
<a href="?page={{ page_obj.previous_page_number }}">前へ</a>
{% endif %}

{# 次へ #}
{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">次へ</a>
<a href="?page={{ page_obj.paginator.num_pages }}">最後 &raquo;</a>
{% endif %}
{% endblock %}